.contact-form {
    padding: 50px 45px;
    background-color: #383838;
    max-width: 570px;
    position: relative;
    margin: 100px auto 0px auto;
    
  
    .inputs {
      background-color: #2F2F2F;
      outline: none;
      font-size: 14px;
      padding: 20px 10px;
      display: block;
      margin: 0 0 10px 0;
      width: 100%;
      border: 1px solid #686868;
    }
  
    textarea {
      resize: none;
      height: 100px;
    }
  
    .inputs::-webkit-inner-spin-button,
    .inputs::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  
    .send-btn {
      padding: 15px 0;
      width: 100%;
      border: 2px solid #ffcb05;
      display: flex;
      align-self: center;
      justify-content: center;
      background-color: #282827;
      color: #ffcb05;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
  .custom-select {
    padding: 5px 8px;
    font-size: 14px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: none;
  
    .multiselect__input {
      width: 100% !important;
    }
  
    .multiselect__content-wrapper {
      .multiselect__content {
        width: 200px !important;
      }
    }
  }
  
  .custom-select {
    background: white;
    margin-bottom: 10px;
  }
  
  .v-select.searchable {
    .dropdown-toggle {
      border: none !important;
    }
  }
  
  .multiselect__tags {
    width: 100%;
    padding: 10px;
    height: 39px;
  
    input {
      width: 100% !important;
      position: initial !important;
      padding: 0px 5px 0px 0px !important;
      border: none !important;
      border-radius: 6px !important;
    }
  }
  
  .dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
    height: 282px;
  
    li {
      margin: 0 5px 0 0;
  
      a {
        padding: 6px 0 6px 17px;
  
        &:hover {
          background-color: #d6aa01;
        }
      }
    }
  
    .highlight {
      a {
        background: #d6aa01;
      }
    }
  }
  
  div.post-cv {
    div.custom-select2 {
      margin-bottom: 10px;
      border: 1px solid #686868;
  
      div.dropdown-toggle {
        border: none !important;
        background: #2f2f2f !important;
        color: #696969;
  
        // color: #686868;
        div.vs__selected-options {
          padding: 10px 10px 10px 3px;
  
          .selected-tag {
            color: #757575;
  
            font-size: 14px;
          }
        }
  
        div.vs__actions {
          i.open-indicator {
            color: #696969;
  
            &::before {
              border-color: #696969;
            }
          }
  
          button.clear {
            color: #696969;
          }
        }
      }
  
    }
  }
  
  .v--modal-overlay .v--modal-box {
    overflow: visible;
  }
  
  .v-select .dropdown-menu {
    max-height: 230px !important;
  
    .highlight {
      a {
        background: #ffc900 !important;
      }
  
    }
  }
  
  .resume-content {
      display: flex;
      color: #e9bb08;
      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
      }
      .custom-input-file {
        border-radius: 10px;
        padding: 14px 10px;
        color: #000;
        background-color: rgb(255, 203, 5);
        width: 135px;
        height: 47px;
      }
      .cv-icon {
        margin: 0px 3px 0px 25px;
      }
      .cross-icon {
        width: 19px;
        height: 19px;
      }
    }
    .resume-content{
        margin: 20px auto;
    }